@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap');
body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

main{
    background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
}

.pic-logo{
    position: relative;
    bottom: 10%;
}

#pic{
    position: relative;
    bottom: 20%;
    left: 20%;
}

nav, .footer{
    display: flex;
    color: #13183f;
    width: 80vw;
    margin: 0 auto;
    align-items: center;
}

.footer{
    color: #ffffff;
    justify-content: space-between;
}

.get-started{
    color: #ffffff;
    width: 140px;
    height: 48px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #13183f; 
    border-radius: 25px;
}

.get-started-header{
    margin-left: auto;
}

.get-started-header:hover{
    background-color: #666CA3;
    cursor: pointer;
}

.get-started-footer{
    background: linear-gradient(0deg, #F02AA6, #4851FF)
}

.get-started-footer:hover{
    background: linear-gradient(0deg, rgb(248, 149, 211), rgb(164, 168, 255));
    cursor: pointer;
}

.get-started-message{
    background: linear-gradient(0deg, #F02AA6, #FF6F48);
}

.get-started-message:hover{
    background: linear-gradient(0deg, rgb(248, 149, 211), rgb(255, 183, 164));
    cursor: pointer;
}

.get-started-grid:hover{
    color: #FFA7C3;
    cursor: pointer;
}

.container{
    width: 80vw;
    margin: 0 auto;
    height: 120vh;
    display: grid;
    grid-template-columns: 35% 1fr;
    grid-template-rows: 45% 1fr;
    grid-gap: 5% 5%;
}

.grid-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    padding-left: 30px;
    background: #FFFFFF;
    box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
    border-radius: 15px;
}

.grid-item-one{
    color: white;
    background: linear-gradient(180deg, #FF6F48 0.04%, #F02AA6 100%);
    font-size: 32px;
}

.get-started-grid{
    color: #F74780;
}

#grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px 50px;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: -1;
}

.message{
    font-size: 18px;
    font-weight: lighter;
    line-height: 28px;
}

footer{
    background-color: #13183f;
    height: 10vh;
    display: flex;
    align-items: center;
    margin-top: 15vh;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    }
  }