@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap');

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

main {
    background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
    padding-top: 5vh;
    overflow-x: hidden;
}

nav,
.footer {
    display: flex;
    color: #13183f;
    width: 75vw;
    margin: 0 auto;
    align-items: center;
}

h1{
    color: #13183F;
    font-weight: 800;
    font-size: 1.7rem;
}

#header-message {
    padding-top: 8vh;
}

#header-message .message{
    width: 70%
}

.message {
    font-size: 0.8em;
    font-weight: 400;
    line-height: 28px;
    color: #83869A;
}

.skilled{
    font-size: x-large;
}


.container {
    width: 75vmax;
    margin: 0 auto;
    padding-top: 5vh;
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-template-rows: 1fr 2fr;
    grid-gap: 17vw 2%;
    position: relative;
}

#drinking-coffee-woman{
    position: absolute;
    max-width: 100%;
    height: auto;
    top: -18vw;
    right: -35vw;
    z-index: 0;
}

.pic-logo {
    position: absolute;
    top: -1.5em;
}

.get-started-header {
    margin-left: auto;
    z-index: 5;
}

.get-started-header:hover {
    background-color: #666CA3;
    cursor: pointer;
}

.get-started {
    color: #ffffff;
    width: 140px;
    height: 48px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #13183f;
    border-radius: 25px;
}

.get-started-footer {
    background: linear-gradient(0deg, #F02AA6, #4851FF)
}

.get-started-footer:hover {
    background: linear-gradient(0deg, rgb(248, 149, 211), rgb(164, 168, 255));
    cursor: pointer;
}

.get-started-message {
    background: linear-gradient(0deg, #F02AA6, #FF6F48);
}

.get-started-message:hover {
    background: linear-gradient(0deg, rgb(248, 149, 211), rgb(255, 183, 164));
    cursor: pointer;
}

.get-started-grid:hover {
    color: #FFA7C3;
    cursor: pointer;
}

.grid-header-message{
    margin-top: 15px;
}

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: -2;
    grid-row-end: -1;
    justify-items: center;
    grid-row-gap: 5%;
    margin-top: 5%;
    padding: 2%;
}

.grid-item {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
    border-radius: 15px;
    position: relative;
}

.grid-item-one {
    color: white;
    background: linear-gradient(180deg, #FF6F48 0.04%, #F02AA6 100%);
    font-size: 32px;
}

.get-started-grid {
    color: #F74780;
}



.footer {
    color: #ffffff;
    justify-content: space-between;
}

footer {
    background-color: #13183f;
    height: 10vh;
    display: flex;
    align-items: center;
    margin-top: 15vh;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    body {
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-size: 16px;
        color:#13183F;
    }

    .skilled{
        font-size: large;
    }

    .get-started {
        color: #ffffff;
        width: 120px;
        height: 35px;
        font-weight: lighter;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #13183f;
        border-radius: 25px;
    }

    .pic-logo {
        left: 0.5em;
    }

    .container, #grid {
        width: 80vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container{
        gap: 10px;
    }

    nav, .footer{
        width: 80vw !important;
    }
    
    .message, .get-started-grid{
        font-size: 14px;
    }

    .grid-item{
        width: 80%;
        height: 180px;
    }

    .grid-item-one{
        font-size: 18px;
        height: 70px;
        margin-bottom: 15px;
    }

    #drinking-coffee-woman{
        width: 100%;
        height: 100%;
        position: static;
    }

    .big-pic img{
        content: url(./assets/top-left-img-small.png);
    }

    #header-message{
        padding-top: 0px;
        margin-bottom: 0px;
        margin: 0 auto;
    }

    h1{
        font-size: xx-large;
        font-weight: 800;
    }

    .message {
        font-weight: lighter;
        font-size: medium;
        line-height: 20px;
        color: #83869A;
        width: 100% !important;
    }
    
}

@media  (min-width: 481px) and (max-width: 768px) {
    
    .container{
    grid-template-columns: 40% 1fr;
    grid-template-rows: 1fr 3fr;
    grid-gap: 2vw 2%;
    }

    #grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-column-start: 1;
        grid-column-end: -1;
        grid-row-start: -2;
        grid-row-end: -1;
        justify-items: center;
        padding: 2%;
        grid-column-gap: 10px;
    }
    
    .grid-item {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 30px;
        padding: 20px;
        background: #FFFFFF;
        box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
        border-radius: 15px;
    }
    .grid-item-one {
        color: white;
        background: linear-gradient(180deg, #FF6F48 0.04%, #F02AA6 100%);
        font-size: 32px;
    }

    #header-message{
        padding-top: 0px;
        width: 55vw;
        margin-bottom: 0px;
        margin: 0 auto;
    }
    h1{
        font-size: x-large;
        font-weight: 800;
    }

    .message{
        font-size: small;
    }
}

@media (min-width: 768px) and (max-width: 865px) {
    /* .container{
        grid-gap: 1% 2%;
    } */
    .container{
        grid-template-columns: 35% 1fr;
        grid-template-rows: 1fr 2fr;
        grid-gap: 2vw 2%;
        /* position: relative; */
        }
}
